/*--------------------------------------
   Variables
--------------------------------------*/

// Notes...

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Branding
// -------------------------------------

$red: rgb(102, 0, 0);

$orange: rgb(254, 91, 0);

$blue: rgb(85, 112, 130);

$tan: rgb(237, 234, 218);

$dark-gray: rgb(51, 51, 51);

$gray: rgb(81, 81, 81);
